<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutomaticUpdater" version="2.6.18.4" targetFramework="net40" />
  <package id="DaHan.CustomControls" version="1.0.0" targetFramework="net40" />
  <package id="jacobslusser.ScintillaNET" version="3.1.0-rc" targetFramework="net40" />
  <package id="ObjectListView" version="2.7.1.5" targetFramework="net40" />
  <package id="ObjectListView.Official" version="2.9.1" targetFramework="net40" />
  <package id="System.Windows.Forms.Ribbon35" version="3.5.8.0" targetFramework="net40" />
  <package id="WindowsAPICodePack" version="1.1.0" targetFramework="net40" />
</packages>